
[default]

# This is a sample config file for s3cmd to connect to Scaleway Object Storage buckets in the fr-par region.
# Replace the placeholders with your actual access key and secret key.

# should be 20 characters and start with SCW
access_key = <SCW...>

# should be a valid UUID
secret_key = <your secret key here>

bucket_location = fr-par
host_base = s3.fr-par.scw.cloud
host_bucket = %(bucket)s.s3.fr-par.scw.cloud
